form a {
    margin-left: 5px;
}

.btn-sm {
    vertical-align: middle !important;
}

.list-group {
    margin-top: 40px;
    line-height: 80%;
}

.delete-btn{
    margin-top: -10px;
    margin-right: -17px;
}

li{
    margin: 6px 0;
}

html,body,.col-md-12,.container,.row {
    height:100%;
}

.col-md-12{
    margin-top: 20px;
}
